#.bash_profile#
#.bashrc#
*scratch*
*scratch*~
.##.#tutorial# -> Azeem@hyperion.local.28921
.#.#tutorial -> Azeem@hyperion.local.11172
.#archivops.txt -> Azeem@hyperion.local.5771
.#tutorial_es -> Azeem@hyperion.local.5771
.CFUserTextEncoding
.DS_Store
.Trash
.Xauthority
.adobe
.aliases
.aliases~
.anaconda
.ansible
.astropy
.cache
.conda
.condarc
.config
.cups
.dropbox
.emacs
.emacs.d
.emacs2.txt
.emacs_13_07_17
.emacs_16_07_17
.emacs~
.ethash-minergate
.fontconfig
.gem
.ipython
.iterm2
.iterm2_shell_integration.bash
.jupyter
.karabiner.d
.keras
.lesshst
.local
.matplotlib
.oracle_jre_usage
.profile
.prueba
.prueba2
.prueba4
.rnd
.rssowl2
.smex-items
.spyder-py3
.ssh
.subversion
.vagrant.d
.viminfo
.wireshark
.wireshark-etc
AnacondaProjects
Applications
Biblioteca de calibre
Desktop
Documents
Downloads
Dropbox
GNS3
Library
Movies
Music
NetBeansProjects
Pictures
Public
PycharmProjects
Sites
VirtualBox VMs
anaconda
bash_backup
bin
dumps
my-scripts
proyectos_django
sandbox
seaborn-data
trabajo.txt
trabajo.txt~
#.bash_profile#
#.bashrc#
.##.#tutorial#
.#.#tutorial
.#archivops.txt
.#tutorial_es
.bash_history~
.bash_profile-anaconda.bak
.bash_profile~
.bash_prompt~
.bashrc~
.gitignore~
.bash_sessions
.bash_history
.bash_history.swp
#.bash_profile#
#.bashrc#